{% extends 'rango/base.html' %}
{% load staticfiles %} 
{% block title_block %}
About
{% endblock %}	

{% block body_block %}
		rango says here is the about page <br/> <a href='/rango/'>Index</a>
		<strong>{{ somemessage }}</strong><br />
		<strong>{{ visitmsg }}</strong><br />
		<button class="btn btn-primary" id="about-btn">
			Click Me - I'm JavaScript on Speed</button>
			
		<button class="btn btn-primary"
			onClick="alert('You clicked the button using JavaScript');">
			Click Me - I run JavaScript
		</button>
		
		<p>This text is for a JQuery Example</p>
		
		</div>
		
		<div id="msg">Hello -I'm here for a JQuery Example too</div>
		
		<div>
			<img src="{{ MEDIA_URL}}cat.jpg">.
		</div>
		
		<div>
			<a href="/rango/about/">About</a><br />
			<img src="{% static "images/wallpaper.png" %}"
			alt="Awesome" /> 
		</div>
{% endblock%}